In [2]:
import pandas as pd
import os

In [3]:
print(os.getcwd())

/home/samara_hack_solution

In [27]:
labels_tigers = pd.read_csv('Train_3500/3 класса/Тигры/objects.csv')
labels_leopard = pd.read_csv('Train_3500/3 класса/дальневосточный леопард/objects.csv')
labels_princess = pd.read_csv('Принцесса_400/objects.csv')
labels_tigers.sample(5)

,id,center,class,subclass,bbox,convex,headtail,orient,relevance,mark_tool
3199,001_1938.jpg,1769.50 1203.50,Tiger,NaN,1574.00 1005.00 1965.00 1402.00,NaN,NaN,NaN,0,BBox
3264,001_2029.jpg,1321.50 983.00,Tiger,NaN,1136.00 828.00 1507.00 1138.00,NaN,NaN,NaN,0,BBox
3127,001_537.jpg,841.50 1558.00,Tiger,NaN,0.00 1146.00 1683.00 1970.00,NaN,NaN,NaN,0,BBox
1878,001_1969.jpg,1570.50 931.50,Tiger,NaN,1307.00 402.00 1834.00 1461.00,NaN,NaN,NaN,0,BBox
3453,001_2419.jpg,2000.00 769.00,Tiger,NaN,1418.00 421.00 2582.00 1117.00,NaN,NaN,NaN,0,BBox

In [23]:
# !mkdir Train_3500/3\ класса/дальневосточный\ леопард/labels
# !mkdir Train_3500/3\ класса/Тигры/labels
# !mkdir Принцесса_400/labels

In [20]:
for index, row in labels_leopard.iterrows():
    name = row['id'].replace('jpg', 'txt')
    anim_class = row['class']
    bbox_coords = row['bbox']
    with open(f'Train_3500/3 класса/дальневосточный леопард/labels/{name}', 'w') as f:
        f.write(f'{anim_class} {bbox_coords}')
    # print(index, ':', row['id'], 'has', row['bbox'], 'bbox.')

In [21]:
for index, row in labels_tigers.iterrows():
    name = row['id'].replace('jpg', 'txt')
    anim_class = row['class']
    bbox_coords = row['bbox']
    with open(f'Train_3500/3 класса/Тигры/labels/{name}', 'w') as f:
        f.write(f'{anim_class} {bbox_coords}')

In [28]:
for index, row in labels_princess.iterrows():
    name = row['id'].replace('jpg', 'txt')
    anim_class = row['class']
    bbox_coords = row['bbox']
    with open(f'Принцесса_400/labels/{name}', 'w') as f:
        f.write(f'{anim_class} {bbox_coords}')